@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding-top: 150px;
}
h1 {
    text-align: center;
}
.container {
    margin: 50px auto;
    width: 400px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c2bbbb;
}

.horas,
.minutos,
.segundos {
    width: 120px;
    height: 90%;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: #7576a1;
}

.btn {
    margin: auto;
    display: flex;
    padding: 5px 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2fb814;
    color: white;
    box-shadow: 2px 2px 3px #00000093;
    text-shadow: 1px 1px 2px #0000008f;
}

.btn:active {
    box-shadow: 1px 1px 2px #000000b0;
}

.stop {
    margin: 20px auto;
    display: flex;
    padding: 3px 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e00e0e;
    color: white;
    box-shadow: 2px 2px 3px #00000093;
    text-shadow: 1px 1px 2px #0000008f;
}

.stop:active {
    box-shadow: 1px 1px 2px #000000b0;
}

@media (max-width: 450px) {
    .container {
        width: 300px;
        height: 130px;
    }
    .horas,
    .minutos,
    .segundos {
        width: 80px;
        font-size: 50px;
    }
}
@media (max-width: 300px) {
    .container {
        width: 270px;
        height: 110px;
    }
    .horas,
    .minutos,
    .segundos {
        width: 60px;
        font-size: 40px;
    }
}